* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    position: relative;
    height: 115vh;
    overflow-x: hidden;
}

#maincontainer {
    display: flex;
}

#recent-logins {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20vw;
    top: 13vh;
    margin-right: 30vw;
}

#facebook-logo {
    height: 70px;
    width: 198px;
    margin: -20px;
}

#recent-logins > #title1 {
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    margin-top: 20px;
    margin-bottom: 5px;
}

#recent-logins > #title2 {
    color: #606770;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 20px;
    font-weight: 400;
}

#loggedin-profile {
    display: flex;
}

